{% extends "layout.html" %}
{% block content %}
  <article class="media content-section">
    <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/' + post.author.image_file) }}">
    <div class="media-body">
      <div class="article-metadata">
        <a class="mr-2" href="{{ url_for('users.user_posts', username=post.author.username) }}">{{ post.author.username }}</a>
        <small class="text-muted">{{ post.date_posted.strftime('%B %d, %Y') }}</small>
        {% if post.author == current_user or current_user.is_admin == True %}
          <div>
            <!-- {% if current_user.is_admin %} -->
              <a class="btn btn-info btn-sm mt-1 mb-1" href="{{ url_for('posts.answer_post', post_id=post.id) }}">Answer</a>
              <button type="button" class="btn btn-danger btn-sm m-1" data-toggle="modal" data-target="#deletePost">Delete</button>
            <!-- {% endif %} -->
            {% if post.is_answered == False and current_user.is_admin==False %}
              <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{{ url_for('posts.update_post', post_id=post.id) }}">Update</a>
              <button type="button" class="btn btn-danger btn-sm m-1" data-toggle="modal" data-target="#deletePost">Delete</button>
            {% endif %}
          </div>
        {% endif %}
      </div>
      <h6 class="article-title">Tags : {{ post.title }}</h6>
      <h3 class="article-content text-info">{{ post.content }}</h3>
      {% if answers %}
        {% for ans in answers %}
          <h5><u>Ans</u> :- {{ ans.content }}</h5>
          <footer class="d-inline blockquote-footer"><cite title="Source Title">{{ ans.author.username }}</cite><br>{{ans.author.designation}}, {{ans.author.dept}}</footer>
          <small class="float-right text-secondary">Answered on {{ans.date_posted.strftime('%B %d, %Y')}}</small>
          {% if current_user.username == ans.author.username %}
            <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{{ url_for('posts.update_answer', post_id=post.id) }}">Update Answer</a>
            <button type="button" class="btn btn-danger btn-sm m-1" data-toggle="modal" data-target="#deleteAnswer">Delete Answer</button>
          {% endif %}
          <hr>
        {% endfor %}
      {% else %}
        <p>Sorry! No Answers yet.</p>
      {% endif %}
    </div>
  </article>
  <!-- Modal 1-->
  <div class="modal fade" id="deletePost" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteModalLabel">Delete Post?</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <form action="{{ url_for('posts.delete_post', post_id=post.id) }}" method="POST">
            <input class="btn btn-danger" type="submit" value="Delete">
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- Modal 2-->
  <div class="modal fade" id="deleteAnswer" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteModalLabel">Delete Answer?</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <form action="{{ url_for('posts.delete_answer', post_id=post.id) }}" method="POST">
            <input class="btn btn-danger" type="submit" value="Delete">
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
